.btnIcon{
    position: absolute;
    transform: translateX(-100%) translateY(100%);
    left:95%;
    top: -15px;
    width: 30px;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.btnIcon:hover{
    transform: scale(1.2) translateY(calc(100% * 0.8)) translateX(calc(-100% * 0.8));
}

.inputContent{
    padding-right: 3rem !important;
    max-height: 270px;
    overflow: auto;
}